<tr>
  <td>
    <%= image_tag product.image.tiny.url %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td class="price">
    <p><%= humanized_money_with_symbol product.price %></p>
  </td>
  <td>
    <p><%= quantity %></p>
  </td>
  <td class="price">
    <p><%= humanized_money_with_symbol quantity * product.price %></p>
  </td>
</tr>
